header {
    font-family: 'Cormorant Garamond';
    position: absolute;
    width: 100%;
    text-align: middle;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #57290B;
    letter-spacing: 1px;
    color: #fff;  
     
}

.conteiner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none; 
    color: #fff; 
  }

/* Estilos para a imagem e o número de telefone ficarem na mesma linha que os itens do menu */
#img-vector {
    margin-right: 5px;
    vertical-align: middle;
}


li {
    display:flex;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
#logo-img {
    padding-bottom: 8.14px;
}
