@charset "UTF-8";

:root {
    --color-neutral-0: #291505;
    --color-neutral-1: #57290B;
    --color-neutral-2: #8F542E;
    --color-neutral-3: #B2784A;
    --color-neutral-4: #E2C196;
    --color-neutral-5: #EBDACC;
    --color-neutral-6: #FFFFFF;
    --color-neutral-7: #F0F0F0;
    --color-neutral-8: #FFDAB8;
    --color-neutral-9: #1F0C00;
}

body{
    width: 100%;
    margin: 0;
    top:0;
    left:0;
}

header{
    position: fixed;
    background-color: var(--color-neutral-1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

nav{
    height: 100px;
    margin-top: -15px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-neutral-7);
}
  
header nav ul li{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 0 10px;
    list-style: none;
    height: 22px;
}
  
header nav ul li img{
    flex: 0 0 auto;
}

header nav ul img{
    flex: 0 0 auto;
}

header nav ul li a{
    color: var(--color-neutral-7);
    text-decoration: none;
}
  
#img-contato-header{
    margin-right: 8px;
    vertical-align: middle;
}

main {
    width: 100%;
    font-family: 'Open Sans';
}


#sec-1 {
    background-image: url(/assets/BackGround.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top:100px;
    
}

#sec-1 div {
    display:flex;
    flex-direction: column;
    align-items:normal;
    margin-left:120px;
    margin-bottom: 16px;
}


#sec-1 h1{
    height: 228px;
    font-size: 56px;
    font-weight: 700px;
    line-height: 76.26px;
    color: #F0F0F0;
}

#sec-1 p{
    height: 66px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 33px;
    color: #F0F0F0;
}

/*.botao {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 800;
    line-height: 33px;
    width: 175px;
    margin-left: 100px;
    display:flex;
    background-color: #8F542E ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #57290B; 
    cursor: pointer;
    transition: background-color 0.3s;
}
*/

#sec-2 {
    background-color: #FFFFFF;
    width: 100%;
    height: 339.41px;
    left: 104px;
    top: 715px;
}

#sec-2.paragrafos {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#sec-2.paragrafos p {
    padding-right: 120px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #1F0C00;
    margin-bottom: 20px; 
}


#sec-3::before {
    background-size: cover;
    top: -118px;
    position: absolute;
    content: '';
    background-image: url(/assets/Cafe\ onda.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 258px;
    left: 0px;
}

#sec-3 {
    margin-top: 200px;
    position: relative;
    width:100%;
    background-color:#80451F;
    padding: 170px 0 128px;
}

.shelf-container {
    margin: 0 auto;
    max-width: 1440px;
}

.shelf-title {
    font-family: 'Cormorant Garamond';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 2%;
    text-align: center;
}

.shelf {
    background-color: #F0F0F0;
    padding: 16px;
}

.slick-track {
    display: flex !important;
    gap: 24px;
}

.shelf h3 {
    font-family: 'Open Sans';
    margin: 8px 0 4px;
    font-size: 16px;
    font-weight: 700;
}

.shelf p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2%;
    color:#1F0C00;
}

#footer-content {
    width: 100%;
    background: #57290B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.5px 0px;
}

#footer-content p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #FFDAB8;
    padding-left: 120px;
}

.p2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #FFDAB8;
    padding-right: 120px;
}
